/* --------------------------------------
=========================================
Landing Page Template
Version: 1.1
Designed By & develop by: Khegi Walesa
=========================================

1. GLOBAL STYLES
    1.1 GLOBAL

    1.2 Helper Classes

    1.3 Fullscreen Menu

    1.4 Custom hover animation



-----------------------------------------*/
/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4; }

body {
  height: 100%; }

body {
  overflow-x: hidden; }

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

li {
  list-style: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

a:hover {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.top80 {
  margin-top: 80px; }

/* ========================================================================
   Component: Navigation
 ========================================================================== */
.navbar-default {
  background-color: rgba(25, 25, 25, 0.2);
  border-color: rgba(25, 25, 25, 0.01); }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #00ace9; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #00ace9; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00ace9;
    background-color: #7c7c7c; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #00ace9;
    background-color: #7c7c7c; }
  .navbar-default .navbar-toggle {
    border-color: rgba(25, 25, 25, 0.01); }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #7c7c7c; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #00ace9; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #00ace9; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00ace9;
    background-color: #7c7c7c; } }

/* ========================================================================
  Component: Header
 ========================================================================== */
header {
  position: relative; }

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/slider-overlay.png) repeat; }

header .carousel,
header .item,
header .active {
  height: 100%; }

.carousel-inner {
  min-height: 500px;
  height: 100%; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -o-background-size: cover; }

.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff; }

.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #e74c3c; }

.carousel-caption {
  top: 25%; }

.carousel-caption h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal; }

.carousel-control.left,
.carousel-control.right {
  background: none; }

.icon-prev,
.icon-next {
  font-size: 60px !important; }

header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10; }

/* ========================================================================
   Component: Responsive Fix
 ========================================================================== */
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1200px) {
  .menu-trigger {
    right: 80px; }
  header .logo-container {
    left: 71px; }
  .processes .icon-container {
    margin-right: 15px; } }

@media only screen and (max-width: 1024px) {
  .button {
    padding: 20px 45px; }
  .button.light {
    padding: 18px 40px; }
  .case-study-left .overlay {
    padding-left: 100px; }
  .case-study-right .overlay {
    padding-right: 100px; }
  .button-container {
    margin-top: 15px; } }

/* Desktops and laptops ----------- */
@media only screen and (max-width: 992px) {
  .menu-trigger {
    right: 65px; }
  header .logo-container {
    left: 55px; }
  .about-us img {
    margin-top: 50px; }
  .process-interactive {
    margin-bottom: 90px; } }

/*Tablet Pottrait size to standerd 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .button {
    padding: 20px 24px; }
  .button.light {
    padding: 18px 24px; }
  .we-are-hiring .upload-cv {
    margin-top: 135px; } }

/* All Mobile Sizes (devices and browers) */
@media only screen and (max-width: 767px) {
  header .logo-container {
    left: 35px; }
  .call-button .button {
    float: none !important;
    margin-bottom: 20px; }
  .call-to-action {
    text-align: center; }
  .call-to-action .button {
    float: none !important; }
  .button-container {
    text-align: center; }
  .our-team .description {
    padding: 40px 10px; }
  .our-team .description .member-skill {
    margin: 10px 0; }
  .send-message .modal-lg {
    width: auto; } }

@media only screen and (max-height: 600px) {
  .mobilenav li {
    font-size: 120%; }
  .portfolio .portfolio-item a .portfolio-overlay {
    padding: 200px 20px; } }

/*Mobile Landscape Size to Tablet Portrait  (devices and browers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .menu-trigger {
    right: 45px; }
  .carousel-caption {
    top: 15%; }
  .carousel-caption h1 {
    font-size: 42px; } }

/* Mobile Portrait SIze to Mobbile Landsscape Size (devices and browers) */
@media only screen and (max-width: 479px) {
  h2 {
    text-align: center; }
  .line {
    margin-left: auto;
    margin-right: auto; }
  .menu-trigger {
    right: 20px;
    top: 20px; }
  header .logo-container {
    left: 29%;
    top: 33px; }
  .carousel-indicators li {
    width: 30px; }
  .carousel-caption {
    top: 10%; }
  .carousel-caption h1 {
    font-size: 36px; }
  .button-container {
    margin-top: 25px; }
  .about-us .jumbo-text {
    font-size: 32px; }
  .processes .process-bar.main-bg {
    margin-right: 40px; }
  .processes .lines {
    width: 50px; }
  .processes .icon-container {
    margin-right: 0; }
  .processes .description {
    width: 85%; }
  .promote span {
    display: block;
    margin: 10px; }
  .promote .button.light {
    margin-bottom: 20px; }
  .footer li {
    margin: 0 5px 10px 0; } }

/*# sourceMappingURL=app.css.map */
